@inherits LayoutComponentBase

@code {
    private string currentTime = DateTime.Now.ToString("HH:mm:ss");
    private System.Threading.Timer? timer;

    protected override void OnInitialized()
    {
        timer = new System.Threading.Timer(async _ =>
        {
            currentTime = DateTime.Now.ToString("HH:mm:ss");
            await InvokeAsync(StateHasChanged);
        }, null, 0, 1000);
    }

    public void Dispose()
    {
        timer?.Dispose();
    }
}

<div class="top-bar">
    <a class="logo" href="">
        <img src="img/logo_luis.svg" />
    </a>

    <NavLink href="" class="nav-tab" Match="NavLinkMatch.All">
        <img src="img/pizza-slice.svg" />
        <div>Get Pizza</div>
    </NavLink>

    <AuthorizeView>
        <NavLink href="myorders" class="nav-tab">
            <img src="img/bike.svg" />
            <div>My Orders</div>
        </NavLink>
    </AuthorizeView>

    <!-- Implementación hora -->
    <span class="current-time">@currentTime</span>

    <LoginDisplay />
</div>

<div class="content">
    @Body
</div>
